.depend
*.o
*.d
*~
*.pyc
core.*
__pycache__
sandbox/*
!sandbox/README.md
autogen
NSLogger/NSLoggerComp
NSMonitor/NSMonitorComp
NSReader/NSReaderComp
Dispatcher/DispatcherComp
rtc.conf
omninames-*.log
omninames-*.bak
omninames-*.dat
.confFilePath
